extends ../layout

//- include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/events', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    .events
      each event in events.docs
        include _event

      //- +paginate(events, '/events', {query: "???XXX&&"})
      

    hr
    a.btn.btn-primary(href='/events/new') Create Events
