extends ../layout

include ../includes/_paginate

block content
  .container
    
    h1.main-title 참가자 리스트 확인
    .container
      .row
        .col-6
          each name in event.m_name
            .name= name
        .col-6
          each email in event.m_email
            .email= email


          
      

