extends ../layout

block content
  .container
    h1.main-title Create Event
    form(action="/event",method="POST",enctype="multipart/form-data")
      include _form
      button.btn.btn-outline-primary(type="submit") Create Your Event