.footer
	.container
		.row
			.col-lg-6.col-md-12.col-sm-12
				ul#bottom_menu
					li
						a.menu(herf="#") About
					li
						a.menu(herf="blog") Blog
					li
						a.menu(herf="help") Help
					li Countries
					li Privacy

			.col-lg-6.col-md-4.col-sm-12
				.container
				ul Connect With Us
					li
						a(herf="#")
							i.fa.fa-question-circle Support
					li
						i.fa.fa-facebook-square facebook
					li
						i.fa.fa-instagram instagram
					li
						i.fa.fa-twitter twitter
			.col-12
				p All right reserved. &copy; 2017 MoMo.
	//- 			ul Connect With Us
	//- 				li.i.fa-envelope.aria-hidden.true Contact Support
	//- 			  	li.i.fa-facbook-square.arira-hidden.true facebook
	//- 			  	li.i.fa-instagram.aria-hidden.true instagram
					
	//- 				//- <i class="fa fa-facebook-square" aria-hidden="true"></i>
	//- p All right reserved. &copy; 2017 MoMo.