.header.clearfix
  nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
    .container
      a.navbar-brand(href="/") 모두의 모임
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/help") Help

          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') Sign in
            li.nav-item
              a.nav-link(href='/users/new') Sign up
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) My Profile
            li.nav-item
              a.nav-link(href='/signout') Sign out

        
          li.nav-item
            a.btn.btn-success.nav-link(href="/create") CREATE EVENT
          
        
          

          