extends layout

block content
  .container
    form.form-inline.search-input-group(action='/events', method='GET')
      #search-form.col-lg-offset-3.col-lg-9
        .input-group
          input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
          .button.btn.btn-success
            i.fa.fa-search

	


