extends layout

block content
	.card
		#search-group.container
			.row
				
				#search-form.col-lg-offset-3.col-lg-9
					.input-group
						input.form-control(type="text", placeholder="Search events or categories", aria-label="search-events")
						input#region-selector.form-control(type="text", placeholder="City or location", aria-label="select region", value="Seoul,Republic of Korea")
						select#date-selecter.form-control
							option All Dates
							option Today
							option Tommorrow
							option This Week
							option Next Week
							option Next Month
						span#search1.input-group-btn
							button.btn.btn-search(type="button")
								i.fa.fa-search(aria-hidden="true")
						span#search2.input-group-btn
							button.btn.btn-searcg(type="button") SEARCH
	
	.container
		.row
			.col-lg-4.col-sm-6
				.card(style="width: 20rem;")
					.card-body
						p.card-text MON, OCT 30 11:00AM
						h4.card-title Music class
						p.card-text Myongji univ, Seoul
						p.card-img-overlay $40
						.container
							.row
								.col-4
									a.btn.btn-link(href="#")
										i.fa.fa-hashtag(aria-hidden="true")
										| music
								.col-4
									a.btn.btn-link(href="#")
										i.fa.fa-hashtag(aria-hidden="true")
										| class
								.col-2
									a.btn.btn-link(href="#")
										i.fa.fa-share-square-o.fa-2x(aria-hidden="true")
								.col-2
									a.btn.btn-link(href="#")
										i.fa.fa-bookmark-o.fa-2x(aria-hidden="true")
			.col-lg-4.col-sm-6
				.card(style="width: 20rem;")
					
					.card-body
						p.card-text TUE, OCT 10 02:00PM
						h4.card-title We are Artist
						p.card-text 예술가 모임
						p.card-img-overlay $20
						.container
							.row
								.col-2
									a.btn.btn-link(href="#")
										i.fa.fa-share-square-o.fa-2x(aria-hidden="true")
								.col-2
									a.btn.btn-link(href="#")
										i.fa.fa-bookmark-o.fa-2x(aria-hidden="true")
			
	

				

