extends ../layout
include ../includes/_paginate

block content
	section.container
	h1 upcomming gigs
	.row
		article.card.fl-left
			section.date
				time(datetime="23th feb")
					span 23
					span feb
			section.card-cont
				small dj music event
				h3 live in sydney
				.even-date
					i.fa.fa-calendar
					time
						span wednesday 28 december 2014
						span 08:55pm to 12:00 am
				.even-info
					i.fa.fa-map-marker
					p
						| nexen square for people australia, sydney
				a(href="#") tickets
		article.card.fl-left
			section.date
				time(datetime="23th feb")
					span 23
					span feb
			section.card-cont
				small dj music event
				h3 corner obsest program
				.even-date
					i.fa.fa-calendar
					time
						span wednesday 28 december 2014
						span 08:55pm to 12:00 am
				.even-info
					i.fa.fa-map-marker
					p
						| nexen square for people australia, sydney
				a(href="#") tickets
	.row
		article.card.fl-left
			section.date
				time(datetime="23th feb")
					span 23
					span feb
			section.card-cont
				small dj music event
				h3 music kaboom festivel
				.even-date
					i.fa.fa-calendar
					time
						span wednesday 28 december 2014
						span 08:55pm to 12:00 am
				.even-info
					i.fa.fa-map-marker
					p
						| nexen square for people australia, sydney
				a(href="#") booked
		article.card.fl-left
			section.date
				time(datetime="23th feb")
					span 23
					span feb
			section.card-cont
				small dj music event
				h3 hello dubai festivel
				.even-date
					i.fa.fa-calendar
					time
						span wednesday 28 december 2014
						span 08:55pm to 12:00 am
				.even-info
					i.fa.fa-map-marker
					p
						| nexen square for people australia, sydney
				a(href="#") cancel
